[submodule "java"]
	path = java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "aws"]
	path = aws
	url = https://github.com/chef-cookbooks/aws.git
[submodule "apt"]
	path = apt
	url = https://github.com/chef-cookbooks/apt.git
[submodule "windows"]
	path = windows
	url = https://github.com/chef-cookbooks/windows.git
[submodule "homebrew"]
	path = homebrew
	url = https://github.com/chef-cookbooks/homebrew.git
[submodule "ohai"]
	path = ohai
	url = https://github.com/chef-cookbooks/ohai.git
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/chef-cookbooks/jenkins
[submodule "runit"]
	path = runit
	url = https://github.com/chef-cookbooks/runit
[submodule "compat_resource"]
	path = compat_resource
	url = https://github.com/chef-cookbooks/compat_resource
[submodule "dpkg_autostart"]
	path = dpkg_autostart
	url = https://github.com/hw-cookbooks/dpkg_autostart
[submodule "yum-epel"]
	path = yum-epel
	url = https://github.com/chef-cookbooks/yum-epel
[submodule "packagecloud"]
	path = packagecloud
	url = https://github.com/computology/packagecloud-cookbook
[submodule "timezone_iii"]
	path = timezone_iii
	url = https://github.com/Stromweld/timezone_iii
[submodule "maven"]
	path = maven
	url = https://github.com/chef-cookbooks/maven
[submodule "ark"]
	path = ark
	url = https://github.com/chef-cookbooks/ark
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/chef-cookbooks/build-essential
[submodule "seven_zip"]
	path = seven_zip
	url = https://github.com/windowschefcookbooks/seven_zip
[submodule "mingw"]
	path = mingw
	url = https://github.com/chef-cookbooks/mingw
